---
import { getCategories } from "../../../lib/newt/client";
import { svgPaths } from "../../../lib/svg/paths";

const categories = await getCategories();

const isCurrent = (path: string, slug: string): boolean => {
	const regex = new RegExp(`\^/blog/category/${slug}/`);
	return regex.test(path);
};

const currentPath = Astro.url.pathname;
console.log(currentPath);
---

<nav class="categories">
	<ul class="categories-list">
		{
			categories.map((category) => {
				return (
					<li class="category">
						<a href={`/blog/category/${category.slug}/1`}>
							<div class:list={["ring", { bgborder: isCurrent(currentPath, category.slug) }]}>
								<svg xmlns="http://www.w3.org/2000/svg" viewBox={category.svgViewBox} style={{ fill: category.themeColor }}>
									<path d={category.svgIconPath} />
								</svg>
							</div>
						</a>
					</li>
				);
			})
		}
	</ul>
</nav>

<style lang="scss">
	.categories {
		position: sticky;
		top: 36px;
		width: 100vw;
		height: 36px;
		background: getColor(--bg-secondary-color, 0.9);
		margin: 0 -1rem 2rem -1rem;
		z-index: 10;

		@include resp(sm) {
			top: 48px;
			height: 48px;
		}

		@include resp(lg) {
			top: 64px;
			height: 64px;
		}

		.categories-list {
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 1rem;

			.category {
				height: 100%;

				a {
					.ring {
						margin: calc(36px * 0.1) 0;
						position: relative;
						border: solid 2px getColor(--border-color);
						border-radius: 9999px;
						width: calc(36px * 0.8);
						height: calc(36px * 0.8);
						box-shadow: 0 0 7px getColor(--border-color);
					}

					svg {
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
						width: 70%;
						height: 70%;
					}
				}
			}
		}
	}

	.bgborder {
		background: getColor(--border-color, 0.7);
	}
</style>
