---
import Layout from "../../layouts/Layout.astro";
import ArticleCard from "../../components/blog/list/ArticleCard.astro";
// newt
import { getArticles } from "../../lib/newt/client";

const articles = await getArticles(10, "desc");

// prerender page
export const prerender = true;
---

<Layout title={`ブログ | ${import.meta.env.APP_NAME}`} description="ブログ">
	<ul class="cards">
		{
			articles.map((article) => {
				return (
					<li class="card">
						<ArticleCard articleProps={article} />
					</li>
				);
			})
		}
	</ul>
</Layout>

<style lang="scss">
	.cards {
		display: flex;
		flex-direction: column;
		gap: 1rem;
	}
</style>
