---
import Layout from "../../layouts/Layout.astro";
import TagsListModal from "../../components/common/modal/TagsListModal.vue";
import ArchivesListModal from "../../components/common/modal/ArchivesListModal.vue";
import PageTitleForPc from "../../components/blog/background/PageTitleForPc.astro";
import PageTitle from "../../components/blog/background/PageTitle.astro";
import CategoriesNavBar from "../../components/blog/background/CategoriesNavBar.astro";
import ArticleCards from "../../components/blog/large/ArticleCards.astro";
// newt
import { articles, categories, tags } from "../../lib/newt/instance";
---

<Layout title={`ブログ | ${import.meta.env.APP_NAME}`} description="ブログ">
	<div id="contents">
		<section id="articles">
			<PageTitleForPc title="Blog" />
			<PageTitle title="Blog" />
			<CategoriesNavBar />
			<ArticleCards articles={articles?.slice(0, 12)} />
		</section>
		<section id="sidebar">
			<TagsListModal categories={categories} tags={tags} client:visible />
			<ArchivesListModal articles={articles} client:visible />
		</section>
	</div>
</Layout>

<script>
	import { gsap } from "gsap";
	import { ScrollTrigger } from "gsap/ScrollTrigger";
	gsap.registerPlugin(ScrollTrigger);

	const cards = gsap.utils.toArray(".article-card");

	cards.forEach((elm: any) => {
		gsap.from(elm, {
			ease: "expo.out",
			duration: 1.5,
			xPercent: 50,
			autoAlpha: 0,
			overflowX: "hidden",
			scrollTrigger: {
				trigger: elm,
			},
		});
	});
</script>

<style lang="scss">
	#contents {
		@include resp(lg) {
			display: flex;
		}

		#articles {
			@include resp(lg) {
				width: 75%;
			}
		}

		#sidebar {
			@include resp(lg) {
				width: 25%;
				margin-top: -2rem;
			}
		}
	}
</style>
