$amber: rgb(251 191 36);
$orange: rgb(251 146 60);
$rose: rgb(251 113 133);
$sky: rgb(14 165 233);
$violet: #a78bfa;
$tropic-gradient: linear-gradient(90deg, $amber, $orange 50%, $rose);
$tropic-gradient-to-above: linear-gradient(0deg, $amber, $orange 50%, $rose);
$tropic-gradient-to-left: linear-gradient(-90deg, $amber, $orange 50%, $rose);

$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);
$slate: rgb(232, 236, 241);
$sten-white: rgb(243, 243, 243);
$deep-gray: rgb(9, 13, 24);
$dark-gray: rgb(17, 24, 39);
$shadow-gray: #ccc;
$navy: rgb(0, 11, 41);
$slate-300: rgb(203, 213, 225);
$slate-400: rgb(148, 163, 184);
$gray-600: rgb(75, 85, 99);

// HEX形式のカラーコードをRGBに変換
@function hexToRgb($hex) {
	@return red($hex), green($hex), blue($hex);
}

// CSS変数をRGBA関数で使えるようにする
@function getColor($color_name, $alpha: 1) {
	@return rgba(var(#{$color_name}), $alpha);
}

// テーマ
$light-themes: (
	bg-primary: $slate,
	bg-secondary: $sten-white,
	text-primary: $black,
	text-secondary: $gray-600,
	text-inversion: $white,
	border: $slate-300,
	shadow: $shadow-gray,
);

$dark-themes: (
	bg-primary: $deep-gray,
	bg-secondary: $dark-gray,
	text-primary: $white,
	text-secondary: $slate-400,
	text-inversion: $black,
	border: $gray-600,
	shadow: $black,
);

// ライトテーマ
.light {
	@each $key, $color in $light-themes {
		--#{$key}-color: #{hexToRgb($color)};
	}
}

// ダークテーマ
.dark {
	@each $key, $color in $dark-themes {
		--#{$key}-color: #{hexToRgb($color)};
	}
}
