---
import ArticleLayout from "../layouts/ArticleLayout.astro";
import PageTitle from "../components/blog/background/PageTitle.astro";
import PageTitleForPc from "../components/blog/background/PageTitleForPc.astro";
import { svgPaths, svgViewBoxes } from "../lib/svg/paths";

import { Content } from "../markdown/site-policy.md";
---

<ArticleLayout title={`サイトポリシー | ${import.meta.env.APP_NAME}`} description="">
	<h1 class="site-policy">サイトポリシー</h1>
	<article class="article-content">
		<Content />
	</article>
</ArticleLayout>

<style lang="scss">
	.site-policy {
		font-size: 1.8rem;
		font-weight: 600;
		letter-spacing: 1px;

		@include resp(lg) {
			font-size: 3.6rem;
			letter-spacing: 2px;
			padding-top: calc(64px + 1rem);
			padding-bottom: 64px;
		}
	}
</style>
